* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'微软雅黑';
}
.float-left{
    float:left;
}
img{height:100%;}
.swiper-wrapper {
}
.home{background:url('../img/home_02.jpg') no-repeat;  }
.question {
    background:url('../img/tibg_02.jpg') no-repeat;
}
.bg-size{
    background-size:100% 100%;
}
/*题目通用*/
.title{
    margin-top:40px;
    font-size:36px;
    color:#ff9000;
    text-align:center;
}
.per-score {
    margin-top:40px;
    font-size:16px;
    color:#fff;
    text-align:center;
}

/*第一题*/
.first-main-pic {
    width:70%;
    margin:0 auto;
    height:116px;
}
.first-main-pic img{
    width:100%;height:146px;
}
.swiper-slide .first-list {
    height: 346px;
}
.first-pic {
    margin-top:5px;
    width:70%;
    height:80%;
}
/*第三屏*/
.third-title{
    font-size:28px;
}

.third-list {
    margin:40px auto;
    width:80%;
    height:291px;
    display:flex;
    flex-flow:column;
    justify-content:space-between;
}
.third-list-item{
    height:78px;
    width:100%;
    list-style:none;
    background:white;
    border:3px solid #ffba00;
    border-radius:5px;
    box-shadow:1px 1px #6e2516;
    display:flex;
    flex-flow:row;
}
.third-ti-option {
    flex:5;
    height:100%;
    background:#ef5232;
    border:2px solid #ffba00;
    border-radius:5px;
}
.third-ti-option-inner {
    width:100%;
    height:100%;
    background:url('../img/options_02.png') no-repeat;
    background-position-x: 10px;
    background-position-y: 3px;
}
.third-ti-answer {
    flex:7;
    height:100%;
    padding-left:5%;
    padding-top:1%;
}
/*.third-ti-answer-inner {*/
    /*width:100%;*/
    /*height:100%;*/
/*}*/
.option-text{
    font-size:14px;
    color:#ef5232;
    padding-left:5%;
    padding-right:5%;
    line-height:5em;
    font-weight:700;
    text-align:center;
}
.lanmei-pic{
    background-position-y: -74px;
}
.pipa-pic{
    background-position-y: -141px;
}

/*第四题*/
.four-title {
    font-size:16px;
    font-weight:700;
}
.four-option-text {
    font-size:22px;
    line-height:3em;
}


/*第五题*/
.five-title {
    width:65%;
    font-size:16px;
    margin:40px auto 0;
    font-weight:700;
}
/*第六题*/
.six-list {
    height:386px;
}
.baxian {
    font-size:22px;
    line-height:3em;
}
/*第七题*/
.mmdou-pic {
    margin-top:10px;
    margin-left:10px;
    width:40%;
    height:60%;
}
/*第八题*/
.num {
    font-size:22px;
    line-height:3em;
}